body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.big_container{
    width: 50%;           
    max-width: 1200px;   
    margin: 0 auto;     
    padding: 20px;      
    background-color: #f0
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.omlette_image{
    width:95%;
    max-width:95%;
    height:60vh;
    display:block;
    margin:0 auto;
    border-radius:20px;

}
.header{
    font-weight:bold;
    font-size:35px;
}
.small_container{
    width:88%;
    max-width:88%;
    margin:0 auto;
    padding:20px;
    background-color:rgb(235, 225, 227);
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    

}
h3{
    color:rgb(155, 74, 45);
}
h2{
    color:rgb(108, 34, 9)
}
.small_container_one{
    width:88%;
    max-width:88%;
    margin:0 auto;
    padding:20px;
    background-color:rgb(242, 238, 239);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #232121; 

}

p {
    
    line-height: 1.6;
    margin-bottom: 20px;
  }


ol {
    list-style-type: none;
  }
ol li::before {
    content: counter(list-item) ". ";
    color:rgb(108, 34, 9); 
    font-weight: bold; 
    margin-right: 5px;
  }

table {
    border-collapse: collapse;
    width: 100%;
   }
   
   th, td {
    padding: 8px;
    text-align: left;
   }
   
   th {
    background-color: lightgray;
    
   }
   
   td:first-child {
    text-align: left;
    
    padding-right: 10px;
   }
   
   td:last-child {
    text-align: right;
    padding-right: 15px;
   }
   
  
   tr + tr {
    border-top: 1px solid #ccc;
   }
   
